& {
  display: flex;
  flex-direction: column;
  height: 100%;

  .navigation {
    display: flex;
    justify-content: center;
    background: black;

    h1 {
      min-width: 300px;
      text-align: center;
    }

    button {
      background: none;
      border: none;
      color: $brand-color-primary;
      font-size: 2em;
      cursor: pointer;

      &:focus {
        outline: 0;
      }
    }
  }

  .loading {
    text-align: center;
    padding: $spacer;
  }

  .calendar {
    flex: 1;
    background: #141414;
  }
}
